<div class="container">
    <h2>User Submitted Decks</h2>
    <div class="col-md-offset-2 col-md-8">
        <table>
            <tr>
                <td colspan="4">The Ultimate Example Deck</td>
            </tr>
            <tr>
                <td colspan="4">Submitted by: DiagnostiX</td>
            </tr>
            <tr>
                <td colspan="4">Arena: Barbarian Bowl</td>
            </tr>
            <tr>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
            </tr>
            <tr>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/skeletons.png" alt="skeletons"></td>
                <td><img src="../img/Cards/giant.png" alt="giant"></td>
            </tr>
            <tr>
                <td colspan="4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id omnis odit soluta quas tempore animi sint doloribus vero sed, illo fuga totam sit facilis cupiditate voluptatum dolores, officia labore! Sed.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In natus dolores nesciunt tempora minus, esse eveniet, magni? Qui quidem ipsum exercitationem quod cum, ipsa maxime? Vel, rem natus architecto. Fugiat.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quo, esse quis vitae accusantium nam cumque repudiandae est voluptas aperiam dignissimos qui, temporibus sit aliquid ipsum, nisi similique soluta quibusdam!
                </td>
            </tr>
        </table>
    </div>
</div>