<div class="container">
    <div class="col-md-12">
        <form class="deck-form" name="deckForm" novalidate>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" id="username" data-ng-model="form.username" placeholder="Enter your Clash Royale Username" required>
                <p data-ng-show="deckForm.username.$pristine" class="help-block">Your Username is required</p>
            </div>
            <div class="form-group">
                <label for="deckname">Deck Name</label>
                <input type="text" name="deckname" id="deckname" class="form-control" data-ng-model="form.deckname" placeholder="Choose a name for your deck" required>
                <p data-ng-show="deckForm.deckname.$pristine" class="help-block">A Deck Name is required</p>
            </div>
            <div class="form-group">
                <label for="arena">What arena are you in?</label>
                <select name="arena" id="arena" class="form-control" data-ng-model="deck.arena" required>
                    <option value="a1">Arena 1 - Goblin Stadium</option>
                    <option value="a2">Arena 2 - Bone Pit</option>
                    <option value="a3">Arena 3 - Barbarian Bowl</option>
                    <option value="a4">Arena 4 - P.E.K.K.A's Playhouse</option>
                    <option value="a5">Arena 5 - Spell Valley</option>
                    <option value="a6">Arena 6 - Builder's Workshop</option>
                    <option value="a7">Arena 7 - Royal Arena</option>
                    <option value="a8">Arena 8 - Frozen Peak</option>
                    <option value="a9">Arena 9 - Jungle Arena</option>
                    <option value="a10">Arena 10 - Hog Mountain</option>
                    <option value="a11">Arena 11 - Legendary Arena</option>
                </select>
                <p data-ng-show="deckForm.arena.$pristine" class="help-block">Your Arena is required</p>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" class="form-control" data-ng-model="form.description" placeholder="Optional: Enter a description on how to use your deck"></textarea>
            </div>
            <div class="form-group">
                <h3>Choose 8 cards only</h3>
                <div id="all-cards">
                    <label class="first-checkbox checkbox-inline" for="skeletons"><img src="img/Cards/skeletons.png" alt="skeletons"><input type="checkbox" name="cards" id="skeletons" value="skeletons"></label>
                    <label class="checkbox-inline" for="ice-spirit"><img src="img/Cards/ice-spirit.png" alt="ice-spirit"><input type="checkbox" name="cards" id="ice-spirit" value="ice-spirit"></label>
                    <label class="checkbox-inline" for="goblins"><img src="img/Cards/goblins.png" alt="goblins"><input type="checkbox" name="cards" id="goblins" value="goblins"></label>
                    <label class="checkbox-inline" for="fire-spirits"><img src="img/Cards/fire-spirits.png" alt="fire-spirits"><input type="checkbox" name="cards" id="fire-spirits" value="fire-spirits"></label>
                    <label class="checkbox-inline" for="spear-goblins"><img src="img/Cards/spear-goblins.png" alt="spear-goblins"><input type="checkbox" name="cards" id="spear-goblins" value="spear-goblins"></label>
                    <label class="checkbox-inline" for="zap"><img src="img/Cards/zap.png" alt="zap"><input type="checkbox" name="cards" id="zap" value="zap"></label>
                    <label class="checkbox-inline" for="archers"><img src="img/Cards/archers.png" alt="archers"><input type="checkbox" name="cards" id="archers" value="archers"></label>
                    <label class="checkbox-inline" for="arrows"><img src="img/Cards/arrows.png" alt="arrows"><input type="checkbox" name="cards" id="arrows" value="arrows"></label>
                    <label class="checkbox-inline" for="minions"><img src="img/Cards/minions.png" alt="minions"><input type="checkbox" name="cards" id="minions" value="minions"></label>
                    <label class="checkbox-inline" for="knight"><img src="img/Cards/knight.png" alt="knight"><input type="checkbox" name="cards" id="knight" value="knight"></label>
                    <label class="checkbox-inline" for="cannon"><img src="img/Cards/cannon.png" alt="cannon"><input type="checkbox" name="cards" id="cannon" value="cannon"></label>
                    <label class="checkbox-inline" for="goblin-gang"><img src="img/Cards/goblin-gang.png" alt="goblin-gang"><input type="checkbox" name="cards" id="goblin-gang" value="goblin-gang"></label>
                    <label class="checkbox-inline" for="bomber"><img src="img/Cards/bomber.png" alt="bomber"><input type="checkbox" name="cards" id="bomber" value="bomber"></label>
                    <label class="checkbox-inline" for="tesla"><img src="img/Cards/tesla.png" alt="tesla"><input type="checkbox" name="cards" id="tesla" value="tesla"></label>
                    <label class="checkbox-inline" for="mortar"><img src="img/Cards/mortar.png" alt="mortar"><input type="checkbox" name="cards" id="mortar" value="mortar"></label>
                    <label class="checkbox-inline" for="barbarians"><img src="img/Cards/barbarians.png" alt="barbarians"><input type="checkbox" name="cards" id="barbarians" value="barbarians"></label>
                    <label class="checkbox-inline" for="minion-horde"><img src="img/Cards/minion-horde.png" alt="minion-horde"><input type="checkbox" name="cards" id="minion-horde" value="minion-horde"></label>
                    <label class="checkbox-inline" for="elite-barbarians"><img src="img/Cards/elite-barbarians.png" alt="elite-barbarians"><input type="checkbox" name="cards" id="elite-barbarians" value="elite-barbarians"></label>
                    <label class="checkbox-inline" for="royal-giant"><img src="img/Cards/royal-giant.png" alt="royal-giant"><input type="checkbox" name="cards" id="royal-giant" value="royal-giant"></label>
                    <label class="checkbox-inline" for="ice-golem"><img src="img/Cards/ice-golem.png" alt="ice-golem"><input type="checkbox" name="cards" id="ice-golem" value="ice-golem"></label>
                    <label class="checkbox-inline" for="heal"><img src="img/Cards/heal.png" alt="heal"><input type="checkbox" name="cards" id="heal" value="heal"></label>
                    <label class="checkbox-inline" for="mega-minion"><img src="img/Cards/mega-minion.png" alt="mega-minion"><input type="checkbox" name="cards" id="mega-minion" value="mega-minion"></label>
                    <label class="checkbox-inline" for="dart-goblin"><img src="img/Cards/dart-goblin.png" alt="dart-goblin"><input type="checkbox" name="cards" id="dart-goblin" value="dart-goblin"></label>
                    <label class="checkbox-inline" for="tombstone"><img src="img/Cards/tombstone.png" alt="tombstone"><input type="checkbox" name="cards" id="tombstone" value="tombstone"></label>
                    <label class="checkbox-inline" for="musketeer"><img src="img/Cards/musketeer.png" alt="musketeer"><input type="checkbox" name="cards" id="musketeer" value="musketeer"></label>
                    <label class="checkbox-inline" for="hog-rider"><img src="img/Cards/hog-rider.png" alt="hog-rider"><input type="checkbox" name="cards" id="hog-rider" value="hog-rider"></label>
                    <label class="checkbox-inline" for="mini-pekka"><img src="img/Cards/mini-pekka.png" alt="mini-pekka"><input type="checkbox" name="cards" id="mini-pekka" value="mini-pekka"></label>
                    <label class="checkbox-inline" for="battle-ram"><img src="img/Cards/battle-ram.png" alt="battle-ram"><input type="checkbox" name="cards" id="battle-ram" value="battle-ram"></label>
                    <label class="checkbox-inline" for="valkyrie"><img src="img/Cards/valkyrie.png" alt="valkyrie"><input type="checkbox" name="cards" id="valkyrie" value="valkyrie"></label>
                    <label class="checkbox-inline" for="fireball"><img src="img/Cards/fireball.png" alt="fireball"><input type="checkbox" name="cards" id="fireball" value="fireball"></label>
                    <label class="checkbox-inline" for="furnace"><img src="img/Cards/furnace.png" alt="furnace"><input type="checkbox" name="cards" id="furnace" value="furnace"></label>
                    <label class="checkbox-inline" for="wizard"><img src="img/Cards/wizard.png" alt="wizard"><input type="checkbox" name="cards" id="wizard" value="wizard"></label>
                    <label class="checkbox-inline" for="giant"><img src="img/Cards/giant.png" alt="giant"><input type="checkbox" name="cards" id="giant" value="giant"></label>
                    <label class="checkbox-inline" for="inferno-tower"><img src="img/Cards/inferno-tower.png" alt="inferno-tower"><input type="checkbox" name="cards" id="inferno-tower" value="inferno-tower"></label>
                    <label class="checkbox-inline" for="goblin-hut"><img src="img/Cards/goblin-hut.png" alt="goblin-hut"><input type="checkbox" name="cards" id="goblin-hut" value="goblin-hut"></label>
                    <label class="checkbox-inline" for="bomb-tower"><img src="img/Cards/bomb-tower.png" alt="bomb-tower"><input type="checkbox" name="cards" id="bomb-tower" value="bomb-tower"></label>
                    <label class="checkbox-inline" for="rocket"><img src="img/Cards/rocket.png" alt="rocket"><input type="checkbox" name="cards" id="rocket" value="rocket"></label>
                    <label class="checkbox-inline" for="elixir-collector"><img src="img/Cards/elixir-collector.png" alt="elixir-collector"><input type="checkbox" name="cards" id="elixir-collector" value="elixir-collector"></label>
                    <label class="checkbox-inline" for="barbarian-hut"><img src="img/Cards/barbarian-hut.png" alt="barbarian-hut"><input type="checkbox" name="cards" id="barbarian-hut" value="barbarian-hut"></label>
                    <label class="checkbox-inline" for="three-musketeers"><img src="img/Cards/three-musketeers.png" alt="three-musketeers"><input type="checkbox" name="cards" id="three-musketeers" value="three-musketeers"></label>
                    <label class="checkbox-inline" for="mirror"><img src="img/Cards/mirror.png" alt="mirror"><input type="checkbox" name="cards" id="mirror" value="mirror"></label>
                    <label class="checkbox-inline" for="rage"><img src="img/Cards/rage.png" alt="rage"><input type="checkbox" name="cards" id="rage" value="rage"></label>
                    <label class="checkbox-inline" for="clone"><img src="img/Cards/clone.png" alt="clone"><input type="checkbox" name="cards" id="clone" value="clone"></label>
                    <label class="checkbox-inline" for="tornado"><img src="img/Cards/tornado.png" alt="tornado"><input type="checkbox" name="cards" id="tornado" value="tornado"></label>
                    <label class="checkbox-inline" for="guards"><img src="img/Cards/guards.png" alt="guards"><input type="checkbox" name="cards" id="guards" value="guards"></label>
                    <label class="checkbox-inline" for="goblin-barrel"><img src="img/Cards/goblin-barrel.png" alt="goblin-barrel"><input type="checkbox" name="cards" id="goblin-barrel" value="goblin-barrel"></label>
                    <label class="checkbox-inline" for="skeleton-army"><img src="img/Cards/skeleton-army.png" alt="skeleton-army"><input type="checkbox" name="cards" id="skeleton-army" value="skeleton-army"></label>
                    <label class="checkbox-inline" for="freeze"><img src="img/Cards/freeze.png" alt="freeze"><input type="checkbox" name="cards" id="freeze" value="freeze"></label>
                    <label class="checkbox-inline" for="poison"><img src="img/Cards/poison.png" alt="poison"><input type="checkbox" name="cards" id="poison" value="poison"></label>
                    <label class="checkbox-inline" for="dark-prince"><img src="img/Cards/dark-prince.png" alt="dark-prince"><input type="checkbox" name="cards" id="dark-prince" value="dark-prince"></label>
                    <label class="checkbox-inline" for="baby-dragon"><img src="img/Cards/baby-dragon.png" alt="baby-dragon"><input type="checkbox" name="cards" id="baby-dragon" value="baby-dragon"></label>
                    <label class="checkbox-inline" for="bowler"><img src="img/Cards/bowler.png" alt="bowler"><input type="checkbox" name="cards" id="bowler" value="bowler"></label>
                    <label class="checkbox-inline" for="balloon"><img src="img/Cards/balloon.png" alt="balloon"><input type="checkbox" name="cards" id="balloon" value="balloon"></label>
                    <label class="checkbox-inline" for="executioner"><img src="img/Cards/executioner.png" alt="executioner"><input type="checkbox" name="cards" id="executioner" value="executioner"></label>
                    <label class="checkbox-inline" for="prince"><img src="img/Cards/prince.png" alt="prince"><input type="checkbox" name="cards" id="prince" value="prince"></label>
                    <label class="checkbox-inline" for="witch"><img src="img/Cards/witch.png" alt="witch"><input type="checkbox" name="cards" id="witch" value="witch"></label>
                    <label class="checkbox-inline" for="x-bow"><img src="img/Cards/x-bow.png" alt="x-bow"><input type="checkbox" name="cards" id="x-bow" value="x-bow"></label>
                    <label class="checkbox-inline" for="lightning"><img src="img/Cards/lightning.png" alt="lightning"><input type="checkbox" name="cards" id="lightning" value="lightning"></label>
                    <label class="checkbox-inline" for="giant-skeleton"><img src="img/Cards/giant-skeleton.png" alt="giant-skeleton"><input type="checkbox" name="cards" id="giant-skeleton" value="giant-skeleton"></label>
                    <label class="checkbox-inline" for="pekka"><img src="img/Cards/pekka.png" alt="pekka"><input type="checkbox" name="cards" id="pekka" value="pekka"></label>
                    <label class="checkbox-inline" for="golem"><img src="img/Cards/golem.png" alt="golem"><input type="checkbox" name="cards" id="golem" value="golem"></label>
                    <label class="checkbox-inline" for="the-log"><img src="img/Cards/the-log.png" alt="the-log"><input type="checkbox" name="cards" id="the-log" value="the-log"></label>
                    <label class="checkbox-inline" for="miner"><img src="img/Cards/miner.png" alt="miner"><input type="checkbox" name="cards" id="miner" value="miner"></label>
                    <label class="checkbox-inline" for="princess"><img src="img/Cards/princess.png" alt="princess"><input type="checkbox" name="cards" id="princess" value="princess"></label>
                    <label class="checkbox-inline" for="ice-wizard"><img src="img/Cards/ice-wizard.png" alt="ice-wizard"><input type="checkbox" name="cards" id="ice-wizard" value="ice-wizard"></label>
                    <label class="checkbox-inline" for="lumberjack"><img src="img/Cards/lumberjack.png" alt="lumberjack"><input type="checkbox" name="cards" id="lumberjack" value="lumberjack"></label>
                    <label class="checkbox-inline" for="lava-hound"><img src="img/Cards/lava-hound.png" alt="lava-hound"><input type="checkbox" name="cards" id="lava-hound" value="lava-hound"></label>
                    <label class="checkbox-inline" for="bandit"><img src="img/Cards/bandit.png" alt="bandit"><input type="checkbox" name="cards" id="bandit" value="bandit"></label>
                    <label class="checkbox-inline" for="inferno-dragon"><img src="img/Cards/inferno-dragon.png" alt="inferno-dragon"><input type="checkbox" name="cards" id="inferno-dragon" value="inferno-dragon"></label>
                    <label class="checkbox-inline" for="electro-wizard"><img src="img/Cards/electro-wizard.png" alt="electro-wizard"><input type="checkbox" name="cards" id="electro-wizard" value="electro-wizard"></label>
                    <label class="checkbox-inline" for="sparky"><img src="img/Cards/sparky.png" alt="sparky"><input type="checkbox" name="cards" id="sparky" value="sparky"></label>
                    <label class="checkbox-inline" for="graveyard"><img src="img/Cards/graveyard.png" alt="graveyard"><input type="checkbox" name="cards" id="graveyard" value="graveyard"></label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" id="submit-btn" class="btn btn-primary" data-ng-disabled="deckForm.$invalid">Submit Deck</button>
            </div>
        </form>
    </div>
</div>