<section class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Welcome to Clash Royale Strategy</h1>
            <h3>What is Clash Royale?</h3>
            <div class="video-wrapper">
                <iframe width="560" height="349"
                    src="https://www.youtube.com/embed/TJryIc0Cwy4">
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             <p>
                 <a href="https://clashroyale.com">Clash Royale</a> is a freemium mobile strategy video game developed and published by Supercell. The 
                 game combines elements from collectible card games, tower defense, and multiplayer online battle 
                 arena. The game was released globally on March 2, 2016.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-offset-3 col-md-3">
            <a href="https://itunes.apple.com/gb/app/clash-royale/id1053012308?mt=8"><img src="img/appstore.svg" alt="Download on App Store" height="100%" width="100%"></a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href='https://play.google.com/store/apps/details?id=com.supercell.clashroyale&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_gb/badges/images/generic/en_badge_web_generic.png' height="100%" width="100%"/>
            </a>
        </div>
    </div>
</section>