<section class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Welcome to Clash Royale Strategy</h1>
            <h3>What is Clash Royale?</h3>
            <div class="video-wrapper">
                <iframe width="560" height="349"
                    src="https://www.youtube.com/embed/TJryIc0Cwy4">
                </iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Overview</h2>
             <p>
                 <a href="https://clashroyale.com">Clash Royale</a> is a freemium mobile strategy video game developed and published by Supercell. The 
                 game combines elements from collectible card games, tower defense, and multiplayer online battle 
                 arena. The game was released globally on March 2, 2016. In Clash Royale, players are ranked by their level, trophies, and/or arena. 
                 The maximum level is thirteen, obtained by getting more experience from donating or levelling up cards. There are eleven arenas 
                 (excluding training camp) in total, with each arena having a certain trophy limit.
            </p>
            <img src="img/img1.jpg" alt="Legendary Arena">
        </div>
        <div class="col-md-6">
            <h2>How to Win</h2>
            <p>
                A player wins a battle by destroying more towers than the opponent, or by destroying the opponent's "King's Tower", which grants an automatic 
                three "crown" victory. At the start of each game, both players are given a "hand" of four cards from a "deck" of eight cards chosen by the player. 
                Cards can be used to attack and defend. To play the cards, the player must have enough "elixir", one elixir automatically being replenished every 
                2.8 seconds (every 1.4 seconds during 'Double Elixir', during the last 60 seconds of the game). Once a card is placed, a new card from the deck is drawn to the hand.
            </p>
            <img src="img/img2.jpg" alt="CR Deck">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-3 hidden-md hidden-lg text-center">
            <a href="https://itunes.apple.com/gb/app/clash-royale/id1053012308?mt=8"><img class="download-button" src="img/appstore.png" alt="Download on App Store"></a>
        </div>
        <div class="col-sm-3 text-center hidden-md hidden-lg">
            <a href='https://play.google.com/store/apps/details?id=com.supercell.clashroyale'>
                <img class="download-button" alt='Get it on Google Play' src='img/playstore.png'>
            </a>
        </div>
    </div>
</section>