<section class="container">
    <h2>News</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <article class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Introducing... The Crown Championship!
                    </a>
                </h4>
            </div>
            <figure class="panel-body text-center">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <img class="teaser" src="img/cc-article-hero.jpg" alt="Crown Championship"><br>Read More
                </a>
            </figure>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <p><strong>Welcome to Clash Royale's official, global esports competition: The Crown Championship!</strong></p>

                    <p>Anyone in the world can join the battle to be named the greatest Clash Royale player in the world - and earn the title of this year's World Champion!</p>

                    <p><strong>What is the Crown Championship?</strong></p>
                    <ul>    
                        <li>A massive, open competition for the title of greatest Clash Royale player in the world, designed for fair, competitive formats.</li>
                        <li>The definitive, ongoing Clash Royale global esports competition - where anyone can join, starting with multiple global regions in Spring Season and full access by Fall Season in August 2017.</li>
                        <li>Over $1 Million USD in prizes in the first year, with multiple seasons of league play culminating in an international live Grand Finals event in November.</li>
                    </ul>
                    <p><strong>What are the details? When does it begin?</strong></p>
                    <ul>
                        <li>The Crown Championship launches today! Spring Season begins today for North America, Europe, and Latin American regions, with a series of Open Battle custom tournaments starting on May 11th. Regional competition is already underway in China, Korea and Japan!</li>
                        <li>The Spring Season season lasts from May to July. Fall Season begins in August, and a spectacular live World Finals event will take place in November.</li>
                        <li>For Spring, hundreds of thousands of Clash Royale players will participate in Open Play… thousands will make it to bracket play… and eight champions will battle for the entire month of June to move on the to Spring Finals.</li>
                    </ul>
                    <p><strong>How do you play?</strong></p>
                    <ul>
                        <li>Clash Royale players must have Level 8 accounts to participate. Players must be residents of their respective competitive region and over 16 years of age to be eligible.</li>
                        <li>Competitions in China, Korea, and Japan are already in full swing, while the Spring Season begins on May 2nd for players from North America, Latin America, and Europe. Full global competition begin Fall Season in August 2017.</li>
                        <li>Visit <a href="https://crownchampionship.clashroyale.com/">crownchampionship.clashroyale.com</a> and select your region to register for an account. From there, you’ll be able to access your region’s Open Play battles - hundreds of open, in-game custom tournaments where thousands will compete!</li>
                        <li>Players who perform well in Open Play will advance to phase 2: Bracket Play. Bracket Play is composed of eight unique 1024-player bracketed tournaments in each region to determine the 8 champions who will do battle for the title of Spring Champion.</li>
                    </ul>
                    <p>We’re excited to be able to celebrate the best Clash Royale players (and gameplay) on a truly global stage.</p>

                    <p>For FULL details for your region, head to <a href="https://crownchampionship.clashroyale.com/">crownchampionship.clashroyale.com</a> to learn more!</p>

                    <p>We want to know your thoughts! Join the discussion on the <a href="https://forum.supercell.com/showthread.php/1490500-Introducing-The-Crown-Championship%21">forums</a> or <a href="https://www.reddit.com/r/ClashRoyale/comments/68sokt/introducing_the_crown_championship/">reddit.</a></p>

                    <p>The battles begin on May 11th.</p>
                    <p>See you in the Arena,<br>
                    The Clash Royale Team</p>
                </div>
            </div>
        </article>
        <article class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Prepare for Clan Battle!
                    </a>
                </h4>
            </div>
            <figure class="panel-body text-center">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img class="teaser" src="img/2v2-new-top.jpg" alt="Clan Battle"><br>Read More
                </a>
            </figure>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p><strong>What is a Clan Battle?</strong></p>
                    <ul>
                        <li>Battle side-by-side with a Clanmate against two challengers from another Clan!</li>
                        <li>Four people playing at the same time, in the same Arena - it's A LOT of fun!</li>
                        <li>The next Clan Battle event runs from May 5-8</li>
                    </ul>    
                    <p><strong>How do you play?</strong></p>
                    <ul>
                        <li>Once the event starts, the Clan Battle button will appear at the top of your Clan page</li>
                        <li>Tap the button when you're ready to battle, or join a Clanmate who's already waiting</li>
                        <li>You'll be matched against two challengers from another Clan and all that's left to do now is... WIN!</li>
                    </ul>
                    <p><strong>Rewards?</strong></p>
                    <ul>
                        <li>Unlock the Clan Battle Chest by winning Clan Battles - the more wins you and your Clan get, the bigger the reward!</li>
                        <li>Once you've collected your reward, you can keep playing Clan Battles for fun until the end of the event</li>
                    </ul>
                    <p><strong>Bonus info!</strong></p>
                    <ul>
                        <li>For better coordination, get your Clanmates to join <a href="https://discordapp.com/invite/clashroyale">/r/ClashRoyale's Discord chat</a>!</li>
                        <li>Please note: You'll need to download <a href="http://discord.gg/clashroyale/">Discord's app</a> on mobile</li>
                    </ul>
                    <p>Good luck, HAVE FUN :)</p>
                </div>
            </div>
        </article>
        <article class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What is Double Elixir Draft Challenge?
                    </a>
                </h4>
            </div>
            <figure class="panel-body text-center">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <img class="teaser" src="img/double-draft-hero.jpg" alt="Double Elixir Draft"><br>Read More
                </a>
            </figure>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <p><strong>Double Elixir Draft Challenge does what it says on the tin - you're drafting cards with your opponent while playing like it's overtime, all the time!</strong></p>
                    <ul>
                        <li>Your first entry is free!</li>
                        <li>Each battle starts with a choice between 2 cards - you pick one and the other is given to your opponent (this is "drafting")</li>
                        <li>Elixir recharges twice as fast as normal</li>
                        <li>Collect one time rewards as you progress...in the form of huge stacks of gold!</li>
                        <li>The first one time reward comes at 2 wins</li>
                        <li>Play in Friendly Battles from May 11-15 and Challenges from May 12-15</li>
                    </ul>
                    <figure class="text-center">
                        <p><img class="teaser" src="img/one-time-1.jpg" alt="Rewards"></p>
                        <p><img class="teaser" src="img/one-time-2.jpg" alt="Top Reward"></p>
                    </figure>
                </div>
            </div>
        </article>
    </div>
    <h3><a href="https://clashroyale.com/">Source</a></h3>
</section>